header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

#titre {
    font-size: 22px;
    font-weight: 510;
}

* ul {
   list-style: none;
}

nav {
    background-color: #333;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu {
    display: flex;
    flex-direction: row
}

.navigation {
    margin-right: 5px;
    color: white;
    
}

#logo{
    width: 35%;
}

#pub {
    margin-top: 5px;
    width: 100%;
}

#tableau{
    background-color: rgb(175, 175, 175);
    margin-left: 12%;
    margin-bottom: 4px;
}

.tableau{
    background-color: rgb(185, 185, 185);
}

.image{
    width: 140px;
}

aside {
    display: flex;
    align-content: flex-start;
    float: right;
    background-color: gray;
    width: 50%;
    height: 655px;
    padding: 5px;
    margin: 10px 0px 10px 0px;
}

footer {
    background-color: #333;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

#menu_bas {
    display: flex;
    flex-direction: row
}

.bas {
    margin-right: 5px;
    color: white;
}


@media screen and (max-width: 768px) 
{

    header{
        width: 90%;
        line-height: 4em;
    }

    #logo{
        width: 7em;
    }

    #titre{
        font-size: 0.8em;
    }

    nav {
        width: 100%;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
    }
    
    #menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.7em;
        padding-left: 0em;

    }
    
    .navigation {
        color: white;  
    }

    #pub{
        margin-top: 1em;
    }

    aside{
        display: none;
    }

    #tableau{
        font-size: 0.7em;
        margin-left: 0em;
    }

    .image{
        width: 8em;
    }

    footer{
        padding-top: 0.2em;
        padding-bottom: 0.2em;
    }

    #menu_bas{
        display: flex;
        align-items: center;
    }

    .bas{
        font-size: 0.8em;
    }  
}